!!!
html
  head
    title Testing node.js + socket.io + midi + Ableton Live
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/MIDI/AudioDetect.js")
    script(type="text/javascript", src="/javascripts/MIDI/LoadPlugin.js")
    script(type="text/javascript", src="/javascripts/MIDI/Plugin.js")
    script(type="text/javascript", src="/javascripts/MIDI/Player.js")
    script(type="text/javascript", src="/javascripts/Window/DOMLoader.XMLHttp.js")
    script(type="text/javascript", src="/javascripts/Window/DOMLoader.script.js")
    script(type="text/javascript", src="/javascripts/inc/Base64.js")
    script(type="text/javascript", src="/javascripts/inc/base64binary.js")
    script(type="text/javascript", src="/javascripts/script.js")
  body!= body

